@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primer-color: #161719;
    --segundo-color: #fff;
    --tercer-color:#1E1E20;
    --cuarto-color:#CC680B;
}

body{
    background: url(assets/img/backgroung-img.jpg) center;
    background-size: cover;
}
  
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* MENU ESTILOS */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.menu__items{
    display: flex;
    gap: 2rem;
}

.item{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.item::after{
    content: "";
    display: block;
    background: var(--cuarto-color);
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: white !important;
}

.hamburger{
    display: none;
    padding: 0;
}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
    height: 100%;
}

/* HERO ESTILOS */
.hero{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 4rem 0;
}



.hero__title{
    color: var(--segundo-color);
    font-size: 2.5rem;
}

.hero__parrafo{
    font-size: 16px;
    color: var(--segundo-color);
    line-height: 1.7;
    padding: 2rem 0;
}

.buttons{
    display: flex;
    gap: 2rem;
}

.btn{
    background-color: var(--cuarto-color);
    border: none;
    border-radius: 25px;
    padding: 1rem 2.5rem;
    color: var(--segundo-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.buttons .btn:last-child{
    background: transparent;
    border: 1px solid var(--cuarto-color);
}

.hero__img img{
    width: 100%;
    height: 500px;
}

/* CARDAS ESTILOS Y TEXTO BOX ESTILOS */
/*.seccion-texto-card {
    background-color: var(--tercer-color);
    width: 100%;
}*/

.cards,
.texto-seccion-card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}

.texto-seccion-card{
    padding-top: 3rem;
}

.cards{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.texto-box{
    text-align: center;
}

.titulo-box{
    color: var(--segundo-color);
    border-bottom: 3px solid var(--cuarto-color);
    padding-bottom: 1rem;
}

.parrafo-box{
    padding-top: 1.5rem;
    line-height: 1.7;
    color: var(--segundo-color);
}

.card{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.texto-card{
    background-color: #0202028a;
    position: absolute;
    width: 100%;
    padding: 2rem;
    bottom: 0;
    color: var(--segundo-color);
}

.hidden{
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease-out;
}

.mostrar{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/*LIGHT BOX ESTILOS*/
.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .4s ease-in;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.move{
    transform: translateX(0);
}

.img-show{
    height: 80%;
    display: block;
    object-fit: cover;
    transform: scale(0);
    transition: transform .2s .4s;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 30px;
    font-size: 15px;
}

i{
    position: absolute;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}





@media (max-width:768px) {
    body{
        background: url(assets/img/backgroung-img.jpg) center no-repeat;
        background-size: cover;
    }

    .hamburger{
        display: block;
    }

    .menu__items{
        background-color: rgb(17, 17, 14);
        flex-direction: column;
        justify-content: center;
        padding-left: 3rem;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 30%;
        transition: transform 0.3s ease;
        transform: translate(100%, 0);
    }

    .menu__items.is-active{
        transform: translate(0,0);
    }

    .item::after{
        display: none;

    }

    .hero__title,
    .hero__parrafo{
        text-align: center;
    }

    .hero__title{
        font-size: 2rem;
    }

    .hero__parrafo{
        font-size: 14px;
    }

    .buttons{
        justify-content: center;
    }
    
    .img-show{
        width: 90%;
    }
}
    